<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Fish'n Around</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"></link>
<link rel='stylesheet', href='/stylesheets/style.css'></link>

<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>


<script src="javascripts/mainApp.js"></script>
<script src= "javascripts/homeController.js"></script>
<script src= "javascripts/lakesApp.js"></script>
<script src= "javascripts/lakesController.js"></script>

<style>
</style>
</head>
<body>
	<div nav>
		<div class ="container">
			<div>
				<ul class="nav nav-pills pull-left">
					<li class="active">
						<a href='/'>Home Page</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href='http://www.minnesotalakes.net/'>Browse</a>
					</li>
				</ul>
			</div>
			<div>       
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a href='/signup'>Sign Up</a>
					</li>
					<li>
						<a href='#'>Log In</a>
					</li>
					<li>
						<a href='#'>Help</a>
					</li>	
				</ul>
			</div>		
		</div>
	</div>
<h1>Fish'n Around</h1>
<h2>Sign Up</h2>