body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  text-align: center;
}
h1{
  text-align: center;
  font-size: 60px;
  color: gray;
}

p {
  color: red;
}

ol div ul {
  color: black;
  border-style: groove;
  border-color: light gray;
}