.container {
	border-bottom: solid;
	border-right: solid;
	border-color: gray;
	background-color: #CCE6FF;
}

.active{
	background-color: #E0E0E0;
}
.nav-pills {
	border: solid;
	border-right: solid;
	border-color: #E0E0E0;
	padding: 10px;
}
body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E0E0E0;
  
}

a {
  color: #00B7FF;
}

h3 {
  text-align: center;
}
h1{
  text-align: center;
  font-size: 60px;
  color: gray;
}

p {
  color: red;
}

ol div ul {
  color: black;
  border-style: groove;
  border-color: light gray;
}